body {
  font-family: "Roboto", sans-serif;
  margin: 20px auto 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
  margin: 0 auto 30px auto;
}

.icon-list {
  color: rgb(106, 105, 105);
}

img {
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.204);
}
.header__logo {
  width: 200px;
}

.footer {
  background: rgb(70, 70, 70);
}
.footer__container {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  margin: 15px 0 0 0;
}
.footer__text {
  color: white;
}
.footer__icon {
  margin-right: 5px;
}

.research__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(235, 235, 235);
}
.research__icon {
  cursor: pointer;
}
.research__text {
  margin-left: 10px;
  font-weight: bold;
}
.research__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.research__button {
  background: #9356DC;
  background: linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  background: -webkit-linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  background: -moz-linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  border-radius: 30px;
  padding: 0 20px;
  color: white;
  cursor: pointer;
  text-shadow: -1px 2px 2px rgba(255, 255, 255, 0.225);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.functioning {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  padding-bottom: 40px;
}
.functioning__title {
  display: flex;
  justify-content: flex-start;
}
.functioning__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  padding: 0;
}
.functioning__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  height: 60px;
  position: relative;
  cursor: pointer;
  counter-increment: steps;
  transition: all 0.4s;
}
.functioning__button:hover {
  background: rgb(255, 243, 255);
}
.functioning__button:hover .icon-list {
  color: #9356DC;
}
.functioning__list {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.functioning__list::before {
  content: "" counter(steps);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #9356DC;
  top: 50%;
  bottom: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 20px;
  width: 28px;
  height: 28px;
  color: white;
  font-weight: normal;
}

.restaurant {
  background-color: rgb(245, 245, 245);
  padding: 0 20px;
  height: 1180px;
  padding-bottom: 60px;
  padding-top: 15px;
}
.restaurant__title {
  display: flex;
  justify-content: flex-start;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 92%;
}
.restaurant--separator {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
}
.restaurant__card--new::before {
  position: absolute;
  content: "Nouveau";
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #3f554f;
  right: 3%;
  top: 5%;
}
.restaurant__img {
  height: 180px;
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.restaurant__description {
  padding: 10px;
  position: relative;
}
.restaurant__text {
  margin: 0;
  padding: 3px;
}
.restaurant__hearts:hover > .restaurant__heart--hover {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurant__hearts:hover > .restaurant__heart--btn {
  color: rgba(146, 86, 220, 0);
}
.restaurant__heart {
  position: absolute;
  right: 5%;
  bottom: 10%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.restaurant__heart--hover {
  color: rgba(146, 86, 220, 0);
}

@media screen and (min-width: 768px) {
  .footer__container {
    text-align: center;
  }
  .footer__logo {
    margin-left: 13px;
  }
}
@media screen and (min-width: 992px) {
  .functioning__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
  }
  .functioning__button {
    width: 25%;
  }
  .restaurant {
    height: auto;
  }
  .restaurant__container {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .restaurant--separator {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .restaurant__img--resize {
    width: 269.97px;
  }
}
.headers {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.headers__arrow {
  padding: 0 20px;
}
.headers__icon {
  font-size: 20px;
}
.headers__logo {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-right: 20px;
}

.menu {
  position: relative;
}
.menu__background {
  height: 330px;
  width: 100%;
  margin-bottom: -80px;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px 40px 0 0;
  background-color: white;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}
.menu__restaurant {
  padding: 0 20px;
  font-size: 25px;
  font-family: "Shrikhand";
  font-weight: 100;
}
.menu__hearts:hover > .menu__heart--hover {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  background-clip: text;
  -webkit-background-clip: text;
}
.menu__hearts:hover > .menu__heart--btn {
  color: rgba(146, 86, 220, 0);
}
.menu__heart {
  padding: 0 20px;
  font-size: 25px;
  right: 5%;
  top: 32px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.menu__heart--hover {
  color: rgba(146, 86, 220, 0);
  position: absolute;
  right: 0.4px;
  top: 26px;
}

.starter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}
.starter__title {
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 100px;
}
.starter__title::before {
  content: "";
  height: 3px;
  width: 45px;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0;
}
.starter__card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}
.starter__card:hover .starter__icon {
  margin-right: 0;
}
.starter__card:hover .starter__check {
  transform: rotate(360deg);
  margin-right: 0;
}
.starter__card--delay1 {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
}
.starter__card--delay2 {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
}
.starter__dish {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.starter__menu {
  font-size: 20px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.starter__description {
  white-space: nowrap;
  overflow: hidden;
}
.starter__details {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.starter__euros {
  font-weight: 700;
  color: rgb(56, 56, 56);
}
.starter__icon {
  position: relative;
  width: 20%;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 18px 18px 0;
  transition: all 0.6s ease-in-out;
  margin-right: -20%;
}
.starter__check {
  font-size: 25px;
  color: rgb(255, 255, 255);
  transition: all 0.9s ease-in-out;
  position: absolute;
  margin-right: -100%;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
