body {
  font-family: "Roboto", sans-serif;
  margin: 20px auto 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
  margin: 0 auto 30px auto;
}

.icon-list {
  color: rgb(106, 105, 105);
}

img {
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.204);
}
.header__logo {
  width: 200px;
}

.footer {
  background: rgb(70, 70, 70);
}
.footer__container {
  padding: 0 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  margin: 15px 0 0 0;
}
.footer__text {
  color: white;
}
.footer__icon {
  margin-right: 5px;
}

.research__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(235, 235, 235);
}
.research__icon {
  cursor: pointer;
}
.research__text {
  margin-left: 10px;
  font-weight: bold;
}
.research__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 0 25px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.research__button {
  background: #9356DC;
  background: linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  background: -webkit-linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  background: -moz-linear-gradient(344deg, #9356DC 0%, #FF79DA 80%);
  border-radius: 30px;
  padding: 0 20px;
  color: white;
  cursor: pointer;
  text-shadow: -1px 2px 2px rgba(255, 255, 255, 0.225);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.functioning {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  padding-bottom: 40px;
}
.functioning__title {
  display: flex;
  justify-content: flex-start;
}
.functioning__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  padding: 0;
}
.functioning__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  height: 60px;
  position: relative;
  cursor: pointer;
  counter-increment: steps;
}
.functioning__button:hover {
  background: rgb(255, 243, 255);
}
.functioning__button:hover .icon-list {
  color: #9356DC;
}
.functioning__list {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.functioning__list::before {
  content: "" counter(steps);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #9356DC;
  top: 50%;
  bottom: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 20px;
  width: 28px;
  height: 28px;
  color: white;
  font-weight: normal;
}

.restaurant {
  background-color: rgb(245, 245, 245);
  padding: 0 25px;
  height: 1180px;
  padding-bottom: 60px;
  padding-top: 15px;
}
.restaurant__title {
  display: flex;
  justify-content: flex-start;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92%;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
}
.restaurant__card--new::before {
  position: absolute;
  content: "Nouveau";
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #3f554f;
  right: 3%;
  top: 5%;
}
.restaurant__img {
  height: 180px;
  border-radius: 20px 20px 0 0;
}
.restaurant__description {
  padding: 10px;
  position: relative;
}
.restaurant__text {
  margin: 0;
  padding: 3px;
}
.restaurant__heart {
  position: absolute;
  right: 5%;
  top: 30%;
  font-size: 20px;
  cursor: pointer;
}
.restaurant__heart--hover:hover {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
