.research {
    &__location {
        @include flexMiddle;
        background: rgb(235, 235, 235);
    }

    &__icon {
    cursor: pointer;
    }

    &__text {
    margin-left: 10px;
    font-weight: bold;
    }
    
    
    &__container {
        @include flexColumn;
        align-items: center;
        @include background;
        @include container;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    &__title {
        font-weight: 600;
    }

    &__button {
    @include button;
    @include flexMiddle;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: linear-gradient(#ff79d9f4, #9256dcf2);
        box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.24);
    }
    }
    
}
.functioning {
    @include flexMid;
    flex-direction: column;
    @include container;
    padding-bottom: 40px;

    &__title {
        display:flex;
        justify-content: flex-start;
    }

    &__container {
        @include flexColumn;
        justify-content: space-between;
        height: 240px;
        padding:0; 
    }

    &__button {
    @include flexMiddle;
    @include borderRadius;
    @include boxShadowList;
    height: 60px;
    position: relative;
    cursor:pointer;
    counter-increment: steps;
    transition: all 0.4s;
    
        &:hover {
            background:rgb(255, 243, 255);
        }

        &:hover .icon-list{
            color:$primary;
        }
    }

    &__list {
    display:flex;
    align-items: center;
    gap: 10px;
    font-weight:700;

        &::before {
            content:"" counter(steps);
            @include flexMiddle;
            position:absolute;
            background: $primary;
            top: 50%;
            bottom: 50%;
            left: -10px;
            transform: translateY(-50%);
            @include borderRadius;
            width: 28px;
            height: 28px;
            color:white;
            font-weight: normal;
        }
    }
} 
// RESTAURANT SECTION
.restaurant{   
    @include background;
    @include container;
    height: 1180px;
    padding-bottom: 60px;
    padding-top: 15px;

    &__title {
        display:flex;
        justify-content: flex-start;
    }

    &__container {
        @include flexColumn;
        gap: 25px;
        height: 92%;
    }

    &--separator {
        height:100%;
        @include flexColumn;
        justify-content: space-between;
        gap: 25px;
    }

    &__card {
        @include flexColumn;
        @include boxShadowList;
        @include borderRadius;
        position:relative;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }

        &--new::before {
            position: absolute;
            content: "Nouveau";
            padding: 5px 10px;
            background-color: $tertiaire;
            color: #048c68;
            right: 3%;
            top: 5%;
            font-weight: 600;
        }
    }
    
    &__img {
        height: 180px;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    
    &__description {
        padding: 10px;
        position:relative;
    }

    &__text {
        margin: 0;
        padding:3px;
    }

    &__hearts {

        &:hover > .restaurant__heart--hover{
            @include animHeart;
        }

        &:hover > .restaurant__heart--btn {
            color:$btn-heart;
        }
    }

    &__heart {
        position: absolute;
        right: 5%;
        bottom: 10%;
        font-size: 20px;
        cursor:pointer;
        transition: all 0.4s ease-out;

        &--hover {
            color: $btn-heart;
        }

    }
}
// TABLETTE
@media screen and (min-width: 768px) {
    // FOOTER
    .footer { 
        
        &__container {
        text-align:center;
        }
        &__logo {
            margin-left: 13px;
        }
    }
}
// DESKTOP
@media screen and (min-width: 992px) {
    // FUNCTIONING SECTION
    .functioning {
        
        &__container {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            height: auto;
        }

        &__button {
            width: 25%;
        }
    }
    // RESTAURANT 
    .restaurant {
        height: auto; 

        &__container {
            flex-direction:row;
            justify-content: center;
            gap: 30px;
        }
        
        &--separator {
            flex-direction: row;
            flex-wrap:wrap;
            gap: 30px;
            justify-content: center;
        }

        &__img--resize {
            width: 269.97px;
        }
    }
}

// .loader {
//     border: 16px solid $secondary;
//     border-top: 16px solid $primary;
//     border-left: 16px solid $tertiaire;
//     border-radius: 50%;
//     width: 120px;
//     height: 120px;
//     animation: spin 5s linear; 
//     visibility: hidden;
//     position:fixed;
//   }
  
//   .loader__container {
//     background-color:white;
//     height: 123vh;
//     position:absolute;
//     width: 100%;
//     z-index:1;
//     display:flex;
//     justify-content: center;
//     align-items: center;
//     cursor:wait;
//     animation: loader 5s linear;
//     visibility: hidden;
//   }
  
