.research {
    &__location {
        @include flexMiddle;
        background: rgb(235, 235, 235);

        &--icon {
            cursor: pointer;
        }

        &__text {
            margin-left: 10px;
            font-weight: bold;
        }
    }
    
    &__container {
        display:flex;
        height: 350px;
        @include background;
            &__button {
                @include button;
            }
    }
}
.functioning {
    @include flexMid;
    flex-direction: column;
    width: 100%;

    &__title {
        display:flex;
        justify-content: flex-start;
        width: 100%;
    }

    &__container {
        @include flexColumn;
        justify-content: space-between;
        height: 200px;
        padding:0;

        &--button {
            @include flexMiddle;
            @include radius;
            @include boxShadowList;
            height: 50px;
            position: relative;
            cursor:pointer;
            counter-increment: steps;
            

        &:hover {
            background:rgb(255, 243, 255);
        }

        &:hover .icon-list{
            color:$primary;
        }

        &--list {
            display:flex;
            align-items: center;
            gap: 10px;
            font-weight:700;
        }

        &::before {
            content:"" counter(steps);
            @include flexMiddle;
            position:absolute;
            background: $primary;
            top: 50%;
            bottom: 50%;
            left: -10px;
            transform: translateY(-50%);
            @include radius;
            width: 28px;
            height: 28px;
            color:white;
        }
        }
    }
} 
