@mixin flexMid {
    display:flex;
    justify-content: center;
}
@mixin flexMiddle {
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin flexColumn {
    display:flex;
    flex-direction: column;
}
@mixin button {
    background: $primary;
    background: linear-gradient($secondary, $primary);
    background: -webkit-linear-gradient($secondary, $primary);
    background: -moz-linear-gradient($secondary, $primary);
    border-radius: 30px;
    padding: 0 20px;
    color:white;
    cursor:pointer;
    text-shadow: -1px 2px 2px rgba(255, 255, 255, 0.225);
    box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.24);
}
@mixin boxShadowList {
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);
}
@mixin background {
    background-color:rgb(245, 245, 245)
}
@mixin borderRadius {
    border-radius: 20px;
}
@mixin container {
    padding: 0 20px;
}
@mixin animHeart {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background: linear-gradient($secondary, $primary);
    background-clip: text;
    -webkit-background-clip: text;
}
@mixin animFade {
    -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}
@mixin animFadedelay1 {
    -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}
@mixin animFadedelay2 {
    -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
}

// MENUS
@mixin menuDisplay {
    @include flexColumn;
    @include container;
    gap:20px;
}
@mixin menuTitle {
    position:relative;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0;
}
@mixin menuUnderline {
    content:"";
    height: 3px;
    width: 45px;
    background-color: $tertiaire;
    position:absolute;
    bottom: 0;
}
@mixin menuCard {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 0 15px;
    cursor: pointer;
    overflow:hidden;
    @include boxShadowList;
    @include borderRadius;
    @include animFade;
}
@mixin menuContainer {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
}
@mixin menuIcon {
    position:relative;
    width: 20%;
    height: 84px;
    @include flexMiddle;
    background-color: $tertiaire;
    border-radius: 0 18px 18px 0;
    transition: all 0.6s ease-in-out;
    margin-right: -20%;
}
@mixin menuCheck {
    font-size: 25px;
    color:rgb(255, 255, 255);
    transition: all 1s ease-in-out;
    position:absolute;
}

// PAGE LOADER 
@mixin Pageloader {
    background-color:white;
    height: 100vh;
    position:fixed;
    width: 100%;
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:wait;
    animation: loader 3s linear;
    visibility: hidden;
}
@mixin loader {
    border: 16px solid $secondary;
    border-top: 16px solid $primary;
    border-left: 16px solid $tertiaire;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 3s linear; 
    visibility: hidden;
    position:fixed;
}