// COLORS
$primary: #9356DC;
$secondary: #FF79DA;
$tertiaire: #99E2D0;
$btn-heart: #9256dc00;
$new: #048c68;
$price: rgb(56, 56, 56);

// BACKGROUND
$back-white: rgb(245, 245, 245);
$back-footer: rgb(70, 70, 70);
$back-functioning: rgb(254, 235, 254);

// SIZE
$max: 100%;

// FONT-SIZE-WEIGHT 
$font-title: 25px;
$font-text: 20px;
$bold: 700;

// MEDIA QUERIES
$tablet: 768px;
$desktop: 992px;