// HEADERS
.headers {
    display:flex;
    align-items: center;
    padding-bottom: 15px;

    &__arrow {
        @include container;
        
    }

    &__icon {
        font-size: 20px;
    }

    &__logo {
        width: 100%;
        justify-content: center;
        display:flex;
        margin-right: 20px;
    }
}
// MENU SECTION
.menu {
    position:relative;

    &__background {
        height: 330px;
        width: 100%;
        margin-bottom:-80px;
    }

    &__title {
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 40px 40px 0 0;
        background-color:white;
        position:absolute;
        width: 100%;
        padding-bottom: 20px;
    }

    &__restaurant {
        @include container;
        font-size: 25px;
        font-family: 'Shrikhand';
        font-weight: 100;
    }

    &__hearts {

        &:hover > .menu__heart--hover{
            @include animHeart;
        }

        &:hover > .menu__heart--btn {
            color:$btn-heart;
        }
    }

    &__heart {
        @include container;
        font-size: 25px;
        right: 5%;
        top: 32px;
        cursor:pointer;
        transition: all 0.4s ease-out;
        &--hover {
            color: $btn-heart;
            position: absolute;
            right:0.4px;
            top: 26px;
        }
    }
}
// STARTER
.starter {
    @include flexColumn;
    gap: 20px;
    @include container;

    &__title {
        @include menuTitle;
        margin-top: 100px;

        &::before {
            @include menuUnderline;
        }
    }

    &__card {
        @include menuCard;
 
        &:hover .starter__icon {
            margin-right:0;
        }

        &:hover .starter__check {
            transform: rotate(360deg);
            margin-right:0;
        }

        &--delay1 {
            @include animFadedelay1;
        }

        &--delay2 {
            @include animFadedelay2;
        }
    }

    &__dish {
        @include menuDish
    }

    &__menu {
        font-size: 20px;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &__description {
        white-space: nowrap;
        overflow: hidden;
    }

    &__details {
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__euros {
        font-weight: 700;
        color:rgb(56, 56, 56);
    }

    &__icon {
        position:relative;
        width: 20%;
        height: 84px;
        @include flexMiddle;
        background-color: $tertiaire;
        border-radius: 0 18px 18px 0;
        transition: all 0.6s ease-in-out;
        margin-right: -20%;
    }

    &__check {
        font-size: 25px;
        color:rgb(255, 255, 255);
        transition: all 0.9s ease-in-out;
        position:absolute;
        margin-right:-100%;
    }
}
