// HEADERS
.headers {
    display:flex;
    align-items: center;
    padding-bottom: 15px;

    &__arrow {
        @include container;
        margin-top: 15px;
    }

    &__icon {
        font-size: 20px;
    }

    &__logo {
        width: 100%;
        justify-content: center;
        display:flex;
        margin-right: 60px;
    }
}
// MENU SECTION
.menu {
    position:relative;

    &__background {
        height: 330px;
        width: 100%;
        margin-bottom:-80px;
    }

    &__title {
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 40px 40px 0 0;
        background-color:white;
        position:absolute;
        width: 100%;
        padding-bottom: 20px;
    }

    &__restaurant {
        @include container;
        font-size: 25px;
        font-family: 'Shrikhand';
        font-weight: 100;
    }

    &__hearts {

        &:hover > .menu__heart--hover{
            @include animHeart;
        }

        &:hover > .menu__heart--btn {
            color:$btn-heart;
        }
    }

    &__heart {
        @include container;
        font-size: 25px;
        cursor:pointer;
        transition: all 0.4s ease-out;
        &--hover {
            color: $btn-heart;
            position: absolute;
            right:0.4px;
            top: 26px;
        }
    }
}
// STARTER
.starter {
    @include menuDisplay;

    &__title {
        @include menuTitle;
        margin-top: 100px;

        &::before {
            @include menuUnderline;
        }
    }

    &__card {
        @include menuCard;
 
        &:hover .starter__icon {
            margin-right:0;
        }

        &:hover .starter__check {
            transform: rotate(360deg);
        }

        &--delay1 {
            @include animFadedelay1;
        }

        &--delay2 {
            @include animFadedelay2;
        }
    }

    &__dish {
        @include menuContainer;
    }

    &__menu {
        font-size: 20px;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        white-space: nowrap;
        overflow: hidden;
    }

    &__details {
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__euros {
        font-weight: 700;
        color:rgb(56, 56, 56);
    }

    &__icon {
        @include menuIcon;
    }

    &__check {
        @include menuCheck;
    }
}

// DISH SECTION
.dish {
    @extend .starter;

    &__title {
        @extend .starter__title;
        margin-top: 50px;

        &::before {
            @include menuUnderline;
        }
    }

    &__card {
        @extend .starter__card;

        &--delay1 {
            @extend .starter__card--delay1;
        }

        &--delay2 {
            @extend .starter__card--delay2;
        }

        &:hover .dish__icon {
            margin-right:0;
        }

        &:hover .dish__check {
            transform: rotate(360deg);
            margin-right:0;
        }
    }

    &__container {
        @extend .starter__dish;
    }

    &__description {
        @extend .starter__description;
    }

    &__menu {
        @extend .starter__menu;
    }

    &__details {
        @extend .starter__details;
    }

    &__euros {
        @extend .starter__euros;
    }

    &__icon {
        @extend .starter__icon;
    }

    &__check {
        @extend .starter__check;
    }
}

// DESSERT SECTIONS 
.dessert {
    @extend .starter;

    &__title {
        @extend .starter__title;
        margin-top: 50px;

        &::before {
            @include menuUnderline;
        }
    }

    &__card {
        @extend .starter__card;

        &--delay1 {
            @extend .starter__card--delay1;
        }

        &--delay2 {
            @extend .starter__card--delay2;
        }

        &:hover .dish__icon {
            margin-right:0;
        }

        &:hover .dish__check {
            transform: rotate(360deg);
            margin-right:0;
        }
    }

    &__container {
        @extend .starter__dish;
    }

    &__description {
        @extend .starter__description;
    }

    &__menu {
        @extend .starter__menu;
    }

    &__details {
        @extend .starter__details;
    }

    &__euros {
        @extend .starter__euros;
    }

    &__icon {
        @extend .starter__icon;
    }

    &__check {
        @extend .starter__check;
    }
}

// ORDER BUTTON 
.order {
    margin: 50px 0;

    &__button {
        @extend .research__button;
        width: 40%;
        margin: auto;
    }
}

// MEDIA QUERIES TABLETTE
@media screen and (min-width: 768px) {
    .menu {
        &__restaurant {
            font-size: 30px;
        }
    }

    .order {
        &__button {
            width: 20%;
        }

        &__text {
            font-size: 20px;
        }
    }
}

// MEDIA QUERIES DESKTOP
@media screen and (min-width: 992px) {
    .starter {
        &__card {
            width: 80%;
            margin: auto;
        }

        &__title {
            width: 85%;
            margin-left: auto;
            margin-right:auto;
        }
    }
    .order {
        &__button {
            width: 15%;
        }
    }
}
