// FOOTER
.footer {
    background:$back-footer;
    height:$max;
    
    &__container {
        @include container;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__ul {
        @include flexColumn;
        justify-content: space-between;
        height: 90px;
        margin: 15px 0 0 0;
    }

    &__text {
        color:white;
    }

    &__icon {
        margin-right: 5px;
    }
}
// MEDIA QUERIES TABLET & DESKTOP
@media screen and (min-width: $desktop) {
    .loader__content {
        width: 120px;
        height:120px;
    }
}